* {
    font-family: 'Roboto', sans-serif;
}

.heroLink:hover {
    font-weight: bold !important;
    /* text-decoration: none !important; */
}
a {
    color: black !important;
}
a:hover{
    font-weight: bold;
    text-decoration: underline !important;
    text-decoration-thickness: 3px;
    text-decoration-color: #A24F1A;
}
.navbar {
    padding: 48px !important;
    /* background-color: red; */
}
.logo {
    padding-right: 30px;
}
.dropdown-toggle::after {
    content: none !important;
    }
button.navbar-toggler.ml-auto.hidden-sm-up.float-xs-right:focus {
    outline: none!important;
}

h1 {
    /* font-weight: bold; */
    font-size: 35px;
    /* color: #A24F1A; */
    color: white;

}
/* .heroImage {
    left: 0px;
    top: 121px;
} */
/* .heroText {
    position: absolute;
    top: 550px;
    left: 87px;
    background-color: red;
} */

/* .CAT {
    padding-top: 35rem;
    display: block;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.cat1:hover {
    opacity: 0.5;
} */
li {
    display: inline;
    /* list-style-type: none; */
    float: left;
}
/* .bottom {
    display: flex;
    margin-left: auto;
    margin-right: auto;
} */
/* p1 {
    margin-left: 87px;
} */
/* .joinLife {
    padding-top: 70px;
} */
#joinImg:hover {
    content: url(../images/joinlifecollectionhover.png);
    text-decoration: none !important;
}
.collection {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#heroImg:hover {
    content: url(../images/herohover.png) !important;
}
.categories {
    padding-bottom: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.heroImage {
    padding-bottom: 50px;
    display: flex !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.collectionText {
    padding-left: 87px;
}

#women:hover {
    content: url(../images/womenhover.png) !important;
}
#men:hover {
    content: url(../images/menhover.png) !important;
}
#kids:hover {
    content: url(../images/kidshover.png) !important;
}
#women {
    padding-right: 7px;
}
#men {
    padding-right: 7px;
}
.viewMore {
    display: flex !important;
    padding-right: 33px;
    padding-top: 22px;
    padding-bottom: 33px;
}

/* .bottomRow {
    display: flex !important;
    margin-left: auto !important;
    margin-right: auto !important;
} */

#help {
    padding: 20px;
}
#follow {
    padding: 20px;
}
#company {
    padding: 20px;
}
#policies {
    padding: 20px;
}
.heroMobile {
    display: none;
}
.catMobile {
    display: none;
}
.lifeMobile {
    display: none;
}
.shopSearch {
    display: none;
}


@media only screen and (max-width: 800px) {
    .navRight {
        display: none;
    }
    .hero {
        display: none;
    }
    .CAT {
        display: none;
    }
    .joinLife {
        display: none;
    }
    .heroMobile {
        display: block;
        padding-bottom: 10px;
        margin-right: 15px;
        margin-left: 15px;
    }
    .catMobile {
        display: block;
        padding-bottom: 10px;
        margin-right: 15px;
        margin-left: 15px;
    }
    .lifeMobile {
        display: block;
        padding-bottom: 10px;
        margin-right: 15px;
        margin-left: 15px;
    }
    #womenmobile {
        padding-bottom: 10px;
    }
    #menmobile {
        padding-bottom: 10px;
    }
    #kidsmobile {
        padding-bottom: 10px;
    }
    .footer a {
       font-size: 18px;
    }
.navbar {
    /* background: tomato; */
    padding: 10px !important;
    margin-right: 15px;
    margin-left: 15px;
    }
/* #search {
    display: inline;
    padding-left: 20px !important;
} */
.shopSearch {
    display: block;
    padding-right: 20px;
}
#search {
    display: inline;
    margin-right: 20px;
}

}
.nav-link:focus {
    outline: none !important;
}
.navbar-toggler {
    border: none;
}

/* .navbar-light {
    background-image: url(../images/men.png);
} */

.navbar-toggler-icon {
    background-image: url(../images/mobilemenu.svg) !important;

}
